<!DOCTYPE html>
<html>
  <head>
    <title>Votey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'style' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <% if current_user.nil? %>
    <div class="current_user_display">
      no current user
      </div>
    <% else %>
    <div class="current_user_display">
      current user: <%= current_user.username %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
